<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
  <ion-img src="../../assets/imgs/contact.jpg"></ion-img>
</ion-header>

<ion-content>
  <h4>
  <ion-grid>
    <ion-row  justify-content-start>
      <ion-col col-12><div align=center><b>GOSPEL LIFE CENTER</b><br>
                                        Rue des Juifs, 124<br>
                                        7331 Baudour</div>
      </ion-col>

    </ion-row>
      <ion-row>
            <ion-col col-12>
                <div align=center>
                  <a href="https://www.facebook.com/GospelLifeCenterBaudour/">
                      <img src="../../assets/imgs/logofb.png">
                  </a>
                </div>
            </ion-col>
            <ion-col col-6>
                <div align=center>
                  <a href="https://www.youtube.com/channel/UCQFrskKCZyZ6SEg6EbBda2A">
                      <img src="../../assets/imgs/logoyt.jpeg">
                  </a>
                </div>
            </ion-col>
      </ion-row>

    <ion-row>
      <ion-col col-12>
        <div align=center>Pasteur Giuseppe Carrozzo<br>
            0494 25 07 31
            carrozzogiu@hotmail.com
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </h4>

<!--  <button ion-button secondary menuToggle>Accéder au Menu</button>-->
</ion-content>
