<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Le mot du pasteur
    </ion-title>
  </ion-toolbar>
  <ion-img src="../../assets/imgs/pasteur.jpg"></ion-img>
</ion-header>

<ion-content padding>
  <h2 align=center>
    <span class="font_7" style="line-height:1.4em;">“L’avenir sera aussi grandiose que les promesses de Dieu”</span>
  </h2>
  <h3 align=right>
    <span class="font_7" style="line-height:1.4em; text-align:right;">(William Carey)</span>
  </h3>

<ion-img style="width:100%; height:60%;" src="../../assets/imgs/pastorimg.png"></ion-img>

<div>

    <p class="alignJustify" style="">
        <span class="font_8" style="line-height:1.4em;">Cette parole d’un missionnaire Anglais du 18ème s. a été pour moi comme une révélation qui me disait qu’avec Dieu le meilleur est à venir, il est toujours devant, prêt à s’accomplir, parce que Dieu est fidèle à sa Parole.<br>
	          <br>
                L’homme peut vivre 30 jours sans manger, il peut vivre 3 jours&nbsp; sans boire, il peut vivre quelques minutes sans respirer, mais il ne peut vivre un seul instant sans espérer!<br>
	              Le constat est universel, il existe dans le cœur de l’homme un vide qui le fait désespérer! Pourtant ce n’est pas ce que Dieu désire pour sa création.<br>
	              La Bible déclare que Dieu a des projets de paix et de bonheur afin de nous donner un avenir et de l’espérance.
        </span>
    </p>
    <p class="alignJustify" style="">
        <span class="font_8" style="line-height:1.4em;"><br>
	         C’est précisément ce dont nous avons le plus besoin, un avenir assuré et une réelle espérance, une ouverture vers tous les possibles<br>
	          Un regard positif dans un univers rempli de négativisme, n’est possible qu’en découvrant l’amour et la puissance de Dieu
        </span>
    </p>
    <p class="alignJustify" style="">
	     <span class="font_8" style="line-height:1.4em;"><br>
	        Alors, espoir ou désespoir ?<br>
	        Jésus dit: Je suis le chemin, la vérité et la vie (Jean 14: 6)<br>
	        <br>
          Ma prière pour vous lecteurs est qu’à travers une rencontre personnelle avec Jésus-Christ, vous puissiez donner un coup mortel au désespoir et découvrir les merveilleuses promesses de Dieu révélées pour être connectés à celui qui est la vie, Jésus!
        </span>
    </p>
  </div>

<img src="../../assets/imgs/signgui.png">
<br>
<!--  <button ion-button secondary menuToggle>Accéder au Menu</button>-->
</ion-content>
