<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nos rencontres hebdomadaires
    </ion-title>
  </ion-toolbar>
  <ion-img src="../../assets/imgs/rencontres.jpg"></ion-img>
</ion-header>


<ion-content >
  <ion-card>
      <ion-card-header>
        <ion-card-title>Dimanche</ion-card-title>
        <ion-card-subtitle>10:00. Culte</ion-card-subtitle>
        <ion-card-subtitle>10:00. Club 411 (enfants)</ion-card-subtitle>
        <ion-card-subtitle>10:00. Groupe d'ados</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Mardi</ion-card-title>
        <ion-card-subtitle>19:00. Etude Biblique</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Vendredi</ion-card-title>
        <ion-card-subtitle>19:00. Cours Alpha</ion-card-subtitle>
        <ion-card-subtitle>14:00. Bethesda. Action sociale : distribution de colis alimentaires</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Samedi</ion-card-title>
        <ion-card-subtitle>19:00. GLC Connect</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

</ion-content>
