<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div width=100% align=center>
    <h2>Bienvenue</h2>
    <img src="../../assets/imgs/logo.png">
  </div>
    <p>
      Gospel Life Center Baudour est une église protestante évangélique charismatique qui veut témoigner de l'impact de l'Evangile dans tous les domaines de la vie.<br>
      <br>
      Une église vivante et engagée dans laquelle chacun pourra y trouver une véritable famille et se ressourcer dans la présence de Dieu.<br>
      <br>
      Bonne découverte
    </p>

</ion-content>

<ion-footer>
  (c) Gospel Life Center Baudour 2020
</ion-footer>
